__pycache__
.vscode/launch.json
.DS_Store
src/cruiz.egg-info
build
dist
.mypy_cache
src/cruiz/pyside6/*
!src/cruiz/pyside6/__init__.py
.tox
src/cruiz/RELEASE_VERSION.py
*.whl
.coverage
pytest-coverage.xml
pytest.xml
