name: prod actions
on:
  push:
    branches:
      - main
      - v*.*
    tags:
      - v*

  pull_request:
    branches:
      - main
      - v*.*

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pypi-lint-conan1_17_1:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel setuptools
        pip install tox tox-gh-actions
    - name: Lint with tox
      run: tox run -e lint_conan1_17_1
  pypi-lint-conan1:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel setuptools
        pip install tox tox-gh-actions
    - name: Lint with tox
      run: tox run -e lint_conan1
  pypi-lint-conan2:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel setuptools
        pip install tox tox-gh-actions
    - name: Lint with tox
      run: tox run -e lint_conan2
  pypi-test:
    strategy:
      matrix:
        python-version: [ "3.10", "3.13" ]
        os: [ubuntu-latest, macos-latest, windows-latest]
        conan-version: ["1_17_1", "latest1", "2_0_14", "latest2"]
        exclude:
          # Conan loader uses 'imp' that was removed in Python 3.12
          - python-version: "3.13"
            conan-version: "1_17_1"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel setuptools
        pip install tox tox-gh-actions
    - name: Test with tox against Conan ${{ matrix.conan-version }}
      run: tox run -e test-${{ matrix.conan-version }}
    - name: Surface failing tests
      if: always()
      uses: pmeier/pytest-results-action@v0.7.2
      with:
        path: pytest.xml
        summary: true
        display-options: fEX
        fail-on-empty: true
        title: Test results
    - name: Store coverage report, ${{ join(matrix.*, '-') }}-${{ github.event_name }}
      uses: actions/upload-artifact@v4
      with:
        name: pytest-coverage-${{ join(matrix.*, '-') }}-${{ github.event_name }}
        path: .coverage*
        if-no-files-found: error
        include-hidden-files: true
  report-coverage:
    runs-on: ubuntu-latest
    needs: [pypi-test]
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Download coverage reports
      uses: actions/download-artifact@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel setuptools coverage
    - name: Combine Pytest coverage reports
      run: |
        find . -name '.coverage*' -maxdepth 2 -type f -exec python -m coverage combine --keep {} +
        python -m coverage report --show-missing --skip-covered
        python -m coverage xml -o pytest-coverage.xml
    - name: Pytest coverage comment
      uses: MishaKav/pytest-coverage-comment@v1.1.57
      with:
        pytest-xml-coverage-path: ./pytest-coverage.xml
  pypi-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel setuptools
        pip install tox tox-gh-actions
    - name: Install pypa/build
      run: python -m pip install build --user
    - name: Build a binary wheel and a source tarball
      run: python -m build --sdist --wheel --outdir dist/ .
  pypi-testpublish:
    if: github.ref_protected # when pushing commits to a protected branch
    needs: [pypi-build, pypi-test, pypi-lint-conan1_17_1, pypi-lint-conan1, pypi-lint-conan2]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel setuptools
    - name: Install pypa/build
      run: python -m pip install build --user
    - name: Build a binary wheel and a source tarball
      run: python -m build --sdist --wheel --outdir dist/ .
    - name: Publish package to Test PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.TEST_PYPI_API_TOKEN }}
        repository-url: https://test.pypi.org/legacy/
        skip-existing: true
  pypi-tagpublish:
    if: startsWith(github.ref, 'refs/tags/v') # when pushing a protected tag
    needs: [pypi-build, pypi-test, pypi-lint-conan1_17_1, pypi-lint-conan1, pypi-lint-conan2]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel setuptools
    - name: Install pypa/build
      run: python -m pip install build --user
    - name: Build a binary wheel and a source tarball
      run: python -m build --sdist --wheel --outdir dist/ .
    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
